PUBLIC_SITE_URL=https://nube-serena.com
PUBLIC_WHATSAPP_NUMBER=5214423019902
PUBLIC_INSTAGRAM_URL=https://www.instagram.com/psic.fer.hernandez_/
PUBLIC_FACEBOOK_URL=
PUBLIC_CF_WEB_ANALYTICS_TOKEN=
PUBLIC_GA_MEASUREMENT_ID=G-7EKF16D1R7
PUBLIC_GOOGLE_SITE_VERIFICATION=
PUBLIC_PRIVACY_EMAIL=
PUBLIC_PRIVACY_CONTACT_ADDRESS=
